
#container{
    width: 100%;
    height: 100%;
    margin-top: 50px;


}


#controls{
    float: left;
    margin-left: 10px;
    //  border: 2px solid khaki;
    background-color: rgba(0,0,0,0.1);
    //  width: 50%;
    //   box-shadow:  2px 2px 5px khaki;
    text-align: left;
    //  border-radius: 5px;
}

canvas{
    border: 1px solid gray;
    background:#FFFFE0;
    box-shadow: inset 2px 2px 1px rgba(0,0,0,0.2);
    margin: 10px;
    margin-top: 5px;

}




.closeButtonOptions{
    float: right;
    // margin-left:50px;
    height: 20px;
    width: 20px;
    font-size: 18px;
    border: 1px solid black;
    background: wheat;
    // border-radius: 2px;
    // box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    // color: white;
    opacity: 0.5;
    line-height: 20px;
}

.closeButtonOptions:hover{
    opacity: 0.9;
    height: 22px;
    width: 22px;
}





#clearCanvas {
    margin-top: 5px;
}

#toolbar{
    width: 100%;
    min-height:30px;
    // padding:5px;
    position:fixed;
    top:0;
    background: khaki;
    //color: white; 
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    //   justify-content: center; 
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
    line-height: 30px;

}

.choiceMode{
    padding: 10px;
}




#fontDiv{

    text-align: left;
    overflow: scroll;
    max-height: 100px;
}


#imageDiv{
    text-align: left;
}

#paintDiv p{
color: black;
}




.undoButton{
    font-size: 16px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 2px;
}

.undoButton:hover{
    font-size: 17px;
}

.lightBorder{
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: scroll;
    visibility: hidden;
    width: 0px;  
    height: 0px;
    background: #FFFFE0;
    //   background: black;

    opacity: 0.6;
    transition: width 2s;
    float: left;
}

.lightBorder:hover{
    opacity: 1;
}


.typeClass{
    border: 1px solid blue;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

#fontDiv p{
    float: left;
color: black;
}

.choiceEdit{
    border: 1px solid brown;
    padding: 5px;
    margin: 5px;
    max-height: 200px;
    
}

.choiceTitle{
    padding: 3px;
    margin: 3px;
    background: olive;
    text-align: center;
    color: beige;
    line-height: 40px;
    // font-size: 22px;
}

#colorDiv{
    
    height: 0px;
    visibility: hidden;
    transition: height 2s;
}

#fileDiv{
    
    height: 0px;
    visibility: hidden;
    transition: height 2s;
}

.fileOption{

    font-size: 16px;
    text-align: center;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: beige;
}

.fileOption:hover{
    font-size: 17px;
}


.colorOption{
    margin-left:3px;
}

.typeClassImage{
    border: 1px solid blue;
    margin: 2px;
    display: flex;
    max-height: 100px;
    max-width: 400px;
    overflow: scroll;
}
